@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/*ESTILOS GENERALES:*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    background-color: #FBFDFF;
    font-family: 'Varela Round', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #292966;
    border-radius: 5px;
}

body::-webkit-scrollbar-button, body::-webkit-scrollbar-thumb {
    background-color: #33A2CC;
    border-radius: 5px;
}


/*ESTILOS HOME: 1° PARTE: */

.home{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-image: url("./assets/recursos/header.jpg");
    background-size: 100% 100%;
    position:static;
    padding-top: 60px;
}

.header{
    padding-top: 40px;
}

.contentTittle{
    margin: 0 auto;
    width: 40%;
    margin-left: 45%;
}

.titleHeader{
    text-align: right;
}

.titleHeader h1 {
    font-size: 4rem;
    font-weight: bold ;
}

.titleHeader h3{
    font-size: 2rem;
    font-weight: bold;
}

.titleHeader p{
    font-size: 1.5rem;
}

.form{
    padding: 10px; 
    width:40% ;
    height: 100% !important;
    margin-top: 30px;
    margin-left: 45%;
    background-color: #FBFDFF;
    border-radius: 10px;
}

.contactForm{
    width: 100%;    
}

.contactForm textarea{
    min-height: 150px;
}

.btn-lg{
    font-size: 25px;
    background-color: #292966;
    color: #FBFDFF;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    margin-top: 5px;
}

 /*ESTILOS HOME-VERSION MOBILE: 1° PARTE: */
@media screen and (max-width: 900px){
    .home{
        background-image:url("./assets/recursos/header-mobile.jpg") !important;
        background-repeat: no-repeat !important;
        background-size: 100% !important;
        background-color: #D6E7EA !important;
        margin-bottom: 60px !important;
        position: static !important;
    }

    .contentTittle{
        display: none !important;
    }

    .form{
        margin: 0 auto !important;
        width: 90% !important;
        height: 100% !important;
        /* padding-top: 130px !important; */
        margin-top: 30px !important;
        text-align: center !important;
        position: static !important;
    }

    .contactForm{
        width: 100% !important;
        height: 100vh !important;
        position: static !important;
    }

    .contactForm option{
        width: 100vw;
        box-sizing: border-box;
    }


}

/*ESTILOS RECURSOS: 2° PARTE: */

.recurso{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center; 
    align-items: center;
    box-sizing: border-box;
    background-color: #FBFDFF;
}

.col-md-4{
    margin: 0 auto;
    width: 250px;
    height: 250px;
    background-image: url("./assets/Iconos/cuadritox.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.gy-2{
    margin: 0 auto;
    width: 80%;
    margin-top: 40px;
    padding: 20px;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.icons img{
    width: 80px;
}

.icons h4{
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 15px;
}

.imgIntegraciones img{
    width: 30px !important;
}



/*ESTILOS VEHICULOS: 3° PARTE: */

.vehiculos{
    background-image: url("./assets/recursos/división\ vehi-servi\ \(nose\).png");
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: bottom right;
    height: 100vh;
    width: 100%;
    display: flex;
}

.tittle{
    background-image: url("./assets/recursos/títulox.png");
    background-repeat: no-repeat;
    background-size:80%;
    width: 70%;
    height: 30%;
    display: flex;
    margin-top: 50px;
}

.tittle h1{
    margin: 0 auto;
    margin-top: 25px;
    padding-top: 80px;
    transform: rotate(-2deg);
    color: #FBFDFF;
    margin-left: 60px;
}

.containers{
    width:100%; 
    background-image: url("./assets/recursos/vehículos.png");
    background-repeat: no-repeat;
    background-size: 30% 90%;
    background-position: bottom right;; 
}

.contenedor{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    width: 60%;
    height: 30%;
}

.gy-md-2{
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
    
}

.iconsVehiculos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.iconsVehiculos img{
    width: 180px;
}

.iconsVehiculos h4{
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 15px;
}

.imgRight{
    width: 50%;
}
/*ESTILOS VEHICULOS-VERSION MOBILE: 3° PARTE: */
@media screen and (max-width: 900px){
    .vehiculos{
        height: 100% !important;
        background-image: url("./assets/recursos/división vehi-servi (nose).png") !important;
        background-repeat: no-repeat !important;
        background-size: 100% !important;
        background-position:  bottom right !important;
    }

    .tittle{
        background-image: url("./assets/recursos/vehículos-mobile.png") !important;
        background-repeat: no-repeat !important;
        background-size: 100% !important;
        background-position: center !important;
        height: 300px !important;
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        flex-wrap: wrap !important;
    }

    .tittle h1{
        margin: 0 auto;
        margin-left: 10px !important;
        padding: 0px;
        width: 250px !important; 
        padding-left: 5px !important;
        transform: rotate(-2deg) !important;
        color: #FBFDFF;
    }

    .containers{
        background-image: none !important;
    }

    .contenedor{
        margin: 0 auto;
        width: 100% !important;
        height: 100vh !important;
    }

}

/*ESTILOS RECURSOS: 4° PARTE: */

.root{
    width: 100%;
    height: 100vh;
    position: relative;
}

.tittleServicios{
    background-image: url("./assets/recursos/títulox.png");
    background-repeat: no-repeat;
    background-size: 80%;
    width: 70%;
    height: 30%;
    display: flex;
    margin-top: 50px;
    position: absolute;
}

.tittleServicios h1{
    margin: 0 auto;
    margin-top: 25px;
    padding-top: 80px;
    transform: rotate(-2deg);
    color: #FBFDFF;
    margin-left: 60px;
}

.containServicios{
    display: flex;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 20%;
}

.imgServicios{
    width: 45%;
    align-items: left;
}

.imgServicios img{
    width: 100%;
}

.itemsServicios{
    width: 40%;
}

.itemServicios{
    width: 100%;
    height: 30%;
    margin-top: 30px;
    background-image: url("./assets/recursos/servicios.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.itemServicios h3{
    color :#292966;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    text-align: left;
}

.itemsServicios h4{
    color: #292966;
    font-size: 1.5rem;
    text-align: left;
}

/*ESTILOS SERVICIOS-VERSION MOBILE: 3° PARTE: */
@media screen and (max-width: 900px){
    .tittleServicios{
        width: 100%;
        height: 45% !important;
        display: flex !important;
        justify-content: center !important;
        background-image: url("./assets/recursos/servicios-mobile.png") !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        align-items: center !important;
        position: relative !important;
    }

    .tittleServicios h1{
        margin: 15px !important;
        margin-left: 20px !important;
        font-size: 2rem !important;
        color: #FBFDFF;
        transform: rotate(-2deg) !important;
        position: absolute !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
    }

    .containServicios{
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
        width: 100% !important;
        margin-top: 10% !important;
        top: 0% !important;
        background-image: none !important;
        position: relative;
    }

    .imgServicios{
        display: none;
    }

    .itemsServicios{
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 5% !important;
    }

    .itemServicios{
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        width: 100% !important;
        margin: 5% !important;
    }

    .itemServicios h3{
        font-size: 1.5rem !important;
        text-align:  left;
    }

    .itemServicios h4{
        font-size: 0.75rem !important;
    }
}

/*ESTILOS PREGUNTAS FRECUENTES: 5°PARTE: */

.rootServicios{
    width: 100%;
    background-color: #FAFAFA;  
}

.tittlePreguntas{
    text-align: left;
    margin-left: 10vw;
}

.tittlePreguntas h1{
    font-size: 2rem;
    color: #292966;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 5% ;
}

.contenedorFrecuentes{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.contenedorFrecuentes .card{
    width: 100%;
    border: none;
    text-align: none;
    text-decoration: none;
}

.contenedorFrecuentes .card-header{
    width: 100%;
    border-bottom: none;
    background-color: none;
}

.contenedorFrecuentes .btn-link{
    text-decoration: 0;
    font-size: 1.2rem;
    color: #33A2CC;
}

.contenedorFrecuentes .mt-1{
    color: #292966;
    padding: 8px;
}

.show{
    background-color: #FAFAFA;
}

.imgFaq{
    align-items: center;
    width: 50%;
    padding: 2rem;
    justify-content: left;
    text-align: center;
}

.imgFaq img{
    width: 300px;

}

/*ESTILOS SLIDER / CARROUSEL: 6°PARTE: */

.rootCarousel{
    width: 99%;
    height: 30%;
    margin-top: 5%;
}
.carousel{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}

.carousel img {
    width: 200px;
    align-items: center;
    justify-content: center;
    margin: 0  auto;
}

.tittleCaruosel{
    color: #33A2CC;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.celeste-bor-hr{
    width: 70px;
    border-top-color: 3px solid #292966;
    border-radius: 1.5px;
}

/*ESTILOS RAPIBOY: 7°PARTE: */

.rootRapiboy{
    background-image: url("./assets/recursos/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    align-items: center;
    display: flex;
    height: 400px;
}

.morado-co{
    color: #292966;
}

.hrRapi{
    width: 70px;
    border-top: 3px solid;
    border-radius: 1.5px;
    border-top-color:#292966 ;
}

.btn-violeta{
    background-color: #2C2A66;
    color: #FAFAFA;
    border: 3px solid #2C2A66;
}

.btn-violeta:hover{
    background-color: transparent;
    color: #2C2A66;
}

/*ESTILOS-mobile RAPIBOY: 7°PARTE: */
@media screen and (max-width: 900px){
    .rootRapiboy{
        background-image: url("./assets/recursos/footer-mobile.jpg") !important;
        background-repeat: no-repeat;
        background-size: cover; 
    }

    .fila{
        margin-top: 160px !important;
    }

    .morado-co{
        color: #2C2A66 !important;
        font-size: 1.2rem !important;
        text-align: right !important;
    }

    .hrRapi{
        margin-left: 80% !important;
        padding: 5px !important;
        margin-top: 5px !important;
    }

    .btn-violeta{
        background-color: #2C2A66 !important;
        color: #FAFAFA !important;
        border: 3px solid #2C2A66 !important;
        text-align: right !important;
        align-items: right !important; 
        justify-content: right !important;
        margin-left: 40% !important;
    }
    .btn-violeta:hover{
        background-color: transparent !important;
        color: #2C2A66;
    }

}


/*ESTILOS RAPIBOY: 7°PARTE: */

.rootFooter{
    background-color: #33A2CC;
    height: 150px;
    position: relative;
}

.textFooter{
    color: #FAFAFA;
}

.social-link{
    color: #FAFAFA;
    padding: 0.75rem 0 0.625rem 0.9375rem;
    transition: color .3s ease-in-out;
}

.social-link :hover{
    color: #2C2A66;
    text-decoration: none;
}

.end{
    background-color: #33A2CC;
}

/*ESTILOS-mobile RAPIBOY: 7°PARTE: */



/*ESTILOS EFECTO:*/

.hi-icon-effect-6  .hi-icon {
    box-shadow : 0  0  0  4px  rgba (255,255,255,1);
    transición : fondo 0.2s , color 0.2s ;	
}

.no-touch  .hi-icon-effect-6  .hi-icon :hover {
    background : rgba (255,255,255,1);
    color : #64bb5d ;
}

.no-touch  .hi-icon-effect-6  .hi-icon :hover :before {
    animation : spinAround 2s linear infinite;
}

