/*Estilos:*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #FBFDFF;
}

/*Estilos Header: 1°PARTE */

.header{
    background-image: url("./assets/recursos/header.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    /*OPCIONAL EFECTO SCROLL IMG HEADER
    background-attachment: fixed;*/
    overflow: hidden;
    margin-bottom: 0;
}

.titleHeader{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:right;
    text-align: right;
    margin-right: 25vw;
}

.formHeader{
    background-color: #FBFDFF;
    border-radius: 10px;
    position: relative;
}

.tableForm{
    position: absolute;
    left: 830px;
    top:120px;
    background-color: #FBFDFF;
    border-radius: 10px;
    width: auto;
}

.tableForm td{
    padding: 8px;
    border-radius: 10px;
}

.buttonHeader{
    background-color: #292966;
    color: #FBFDFF;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
}



/*Estilos Recursos: 2°PARTE */

.recurso{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 20px;
}


.recursoCuadrito{
    margin-bottom: 0;
    align-items: center;
    text-align: center;
}

.cuadritoss{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/Iconos/cuadritox.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1px solid black;
    margin: 10px;
    padding: 50px;
    width: 430px;
    height: 320px;
}

.container{
    padding: 10px;
}

.cuadritoss col-sm{
    margin: 5px;
    padding: 15px;
}

.cuadritoss img{
    width: 100px;
}

.integraciones img{
    width: 30px !important;
}


/*Estilos cards: 3°PARTE */
.car{
    display: flex;
    width: 100%;
    height: 100vh;

}

.vehiculosHeader{
    background-image: url("./assets/recursos/títulox.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 60vw;
    width: 100%;
    padding: 250px;
    display: flex;
}

.titlecards{
    text-align: left;
    color: #FAFAFA;
}

.card{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.cards div{
    width: 100%;;
    margin: 30px;
    padding: 10px;
    border-radius: 15px solid ;
    padding-right: 10px;
}

.cards img{
    background-image: url("./assets/Iconos/cuadritox.png");
}

.vehiculosFooter{
    background-image: url("./assets/recursos/división\ vehi-servi\ \(nose\).png");
    background-repeat: no-repeat;
    background-position: cover;
    width: 100vw;
}

.vehiculosFooter img{
    align-content: right;
    justify-content: right;
}



/*Estilos Servicio: 4° PARTE: */

.servicios{
    width: 100%;
    height: 100vh;
}

.titleServicios{
    background-image: url("./assets/recursos/títulox.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 60vw;
    width: 100%;
    padding: 250px;
    display: flex;
    color: #FAFAFA;
}

.serviciosInfo{
    display: flex;
}

.infoServicios{
    width: 50%;
    flex-direction: right;
}

.imgServicios{
    flex-direction: left;
}

.serviciosItem{
    background-image: url("./assets/recursos/servicios.png");
    background-repeat: no-repeat;
    background-size: 50vw;
    padding: 70px;
}


/*Estilos Preguntas frecuentes: 5°PARTE: */

.preguntasFrecuentes{
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
}









/*Footer 6°PARTE */

.footer{
    background-image: url("./assets/recursos/footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}

.titleFooter{
    text-align: left;
    font-weight: 300;
}

.titleFooter input{
    background-color: #292966;
    color: #FAFAFA;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;

}

.morado-bor{

}


/* FooterEnd 7°PARTE: */

.footerEnd{
    height: 120px;
    background-color: #33A2CC;
    display: flex;
}

.footerEnd img{
    height: 30px;
}


/*.divHeader{
    width: 100%;
    height: 650px;
    background-image: url("./assets/recursos/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.titleHeader{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

}

.headerText{

}

.imgHeader{
}

.formHeader{
    background-color: #fff;
    border-radius: 10px;
    margin: 300px 0px 0px ;
    
}

.tableForm{
    margin: 10px;
}

.buttonHeader{
    background-color: #292966;
    color: #FBFDFF;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
}*/